#upper_navbar {
  font-family: Verdana, serif;
  position: absolute;
  right: 30px;
}

p {
  display: inline;
  padding: 10px;
}


#log_in_btn {
  border-radius:  10px;
  background-color: #4683ea;
  color: white;
  height: 45px;
  width : 65px;
  font-size: 1em;
}

 img {
  position: relative;
  top: 200px;
  left: 39%;
  height: 100px;

}

input {
  position: relative;
  top: 210px;
  left: 32.5%;
  height: 50px;
  width:  500px;
}

#search, #lucky {
  border-radius: 10px;
  background-color: #4683ea;
  color: white;
  height: 45px;
  width : 150px;
  font-size: 1em;
  margin:10px;
}

#buttons {
  position : relative;
  top: 230px;
  left: 38%;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #efefef;
}

#lower_l_nav {
  float: left;
  padding-left: 10px;
}

#lower_r_nav {
  float: right;
}
